{% extends 'base.html.twig' %}


{% block title %} MyForum {% endblock %}

{% block body %} 
	{% if posts %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th> Forum Title </th>	
					<th> Posts </th>	
				</tr>
			</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td> {{ post.title }} </td>
					<td>  
						<a href="/reddit/{{ post.id }}" class="btn btn-dark"> Show </a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	  </table>	
	{% else %}
		<p> No articles to display </p>
	{% endif %}	
{% endblock %}
