{% extends 'reddit/index.html.twig' %}


{% block title %} Login {% endblock %}

{% block body %} 
<center>
{% if error %} 
	<div class="alert alert-danger"> 
		{{ error.messsageKey }}
	</div>
{% endif %} 

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</center>
{% endblock %}