{% extends 'reddit/index.html.twig' %}


{% block title %} Reg {% endblock %}

{% block body %} 
<center>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="text-center"> REGISTAR </h2>
		</div>
		<div class="panel-body">
			{{ form(form) }}
		</div>
	</div>	
</center>
{% endblock %}